RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L] 


RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

<Limit GET POST PUT DELETE HEAD>
    Order allow,deny
    # You might want something a little more secure here, this is a dev setup
    Allow from all
</Limit>

RewriteCond %{REQUEST_METHOD} (PUT|DELETE)
RewriteRule .* 


