
.backslide,
.backslide:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.backslide:after {
    content: '';
}

.backslide li{
	list-style-type: none;
}

.backslide li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0.0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear;
    -moz-animation: imageAnimation 36s linear;
    -o-animation: imageAnimation 36s linear;
    -ms-animation: imageAnimation 36s linear;
    animation: imageAnimation 36s linear;
}

.backslide li:nth-child(1) span { background-image: no-repeat }
.backslide li:nth-child(2) span {
    background-image: url(../images/groenplaats.jpg);
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.backslide li:nth-child(3) span {
    background-image: url(../images/backlogin.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.backslide li:nth-child(4) span {
    background-image: url(../images/backtax.jpg);
    -webkit-animation-delay: 27s;
    -moz-animation-delay: 27s;
    -o-animation-delay: 27s;
    -ms-animation-delay: 27s;
    animation-delay: 27s;
}

@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    -webkit-animation-timing-function: ease-out;
	}
	40% {
	    -webkit-transform: scale(1.05);
	}
	80% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    -moz-animation-timing-function: ease-out;
	}
	40% {
	    -moz-transform: scale(1.05);
	}
	80% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    -o-animation-timing-function: ease-out;
	}
	40% {
	    -o-transform: scale(1.05);
	}
	80% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    -ms-animation-timing-function: ease-out;
	}
	40% {
	    -ms-transform: scale(1.05);
	}
	80% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    animation-timing-function: ease-out;
	}
	40% {
	    transform: scale(1.05);
	}
	80% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}



/* Fallback */
.no-cssanimations .backslide li span{
	opacity: 1;
}