@import "elements.less";

html, body{
	height: 100%;
	font-family: "Gill Sans" !important;
}



/* Webkit */
::selection {
    background: #ee432e;
    color: #FFF;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #ee432e;
    color: #FFF;
}

input.error{
	background-color: white;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #d51a1a;
 
  border: 1px solid #d51a1a;
}

h1{
	font-size: 30px;
	font-style: normal !important;
	font-family: "Gill Sans" !important;
	font-weight: 100;
	margin-left: 30px;
}

li{
	font-size: 20px;
	margin-left: 60px;
	font-family: "Gill Sans" !important;
	font-weight: 100;	
}

header{
	opacity: 0.4;
	max-width: 100%;
	min-height: 600px;
	overflow: hidden;
	height:90%;
	box-shadow: 0px 1px 3px 0px #717171;
	
	input{
		width: 200px !important;
		height: 53px !important;
		float: left;
		margin-right: 30px !important;
		border: 0;
		-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
		box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;				
	}
	
	#location{
		background: url(../images/arrow.png); 
		background-size: cover;
		float: left;
		width: 25px;
		height: 25px;
		margin: 15px 5px;
		&:hover{
			background: url(../images/arrow_hover.png);
			background-size: cover;
			cursor: pointer;
		}
	}
	#address1{
		margin-right: 0px !important;
		margin-bottom: 0px;
	}

	.search{
		width: 98%;
		margin-top: 18%;
		margin-left: 4%;
		
		img{
			visibility: hidden;
		}
	}
}

footer{
	background-color: #4a4a4a;
	width: 100%;
	height: 300px;
	
	h1{
		color: white;	
	}
	
	li{
		list-style-type: none;
		color: white;
	}
	
}

#titel{
	color: white;
		font-family: "Gill Sans";
		font-size: 60px;
		font-style: normal;
		text-shadow: 2px 0px 4px black;
		max-width: 800px;
		font-weight: 400;
		line-height: 50px;
		margin-bottom: 50px;
}

#loading{
	position: relative;
	background-color: rgba(255,255,255,0.86); 
	margin-top:90px; 
	width: 88%;
	height: auto;
	overflow: hidden;
	padding: 30px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto; 
	.rounded(5px);
	#loader{
		width: 39px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

#loading2{
	position: relative;
	background-color: rgba(255,255,255,0.86); 
	margin-top:10px; 
	width: 88%;
	height: auto;
	overflow: hidden;
	padding: 30px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto; 
	.rounded(5px);
	#loader{
		width: 39px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

input{
	font-family: "Gill Sans" !important;
	font-size: 17px !important;
	font-weight: 200 !important;
}

#bedrijven{
	list-style-type: none;
	margin-left: -40px;
	li{
		float: left;
		padding-top: 25px;
		padding-right: 20px; 
		background-color: #fbbaba;
		padding-left:5px;
		padding-bottom: 10px;
		.rounded(3px);
		
		.minutes{
			color: red;
		}
		
		p{
			font-size: 1.1em;
			
		}
		
		.thoughtbot{
			width: 100px;
			margin-left: 5px;
			
		}
		
	}
	
}



button.thoughtbot {
  	font-family: "Gill Sans" !important;
  	font-weight: 500;
  	font-size: 20px;
  float: left;
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  padding: 12px 0 17px 0;
  margin-top: -1px;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 200px; }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }
    
.nonactive{
	background-image: none !important; 
	background-color: rgba(235,235,235,0.81) !important; 
	border: 1px solid white !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	
	&:hover{
		background-image: none !important; 
		background-color: rgba(235,235,235,0.81) !important;
	}
	
}
    
.help{
	width: 20px !important;
	float: left !important;
}
    
@media only screen
and (max-width: 908px){
		.detail #address2 {
margin-left: -200px !important;
margin-top: 65px;
margin-bottom: 10px;
}
}

@media only screen
and (max-width: 480px){
	
	body{
		height: 300px;
		
	}
	
	.detail .hidehelp{
		display:none;

	}

	.detail #help{
		margin-top: 10px !important;
	}

	#titel{
		position: absolute;
		visibility: hidden;
		
	}
	
	.search{
		position: absolute; 
		top: -50px;
		left: 38px;	
		margin-top: 10px;
		overflow: visible;
		
		#logophone{
			
			visibility: visible;
			margin-bottom: 20px;
			margin-left: -10px;
			
		}
	}
	
	#pending{
		height: auto !important;
		
	}
	
	// .nav{
	// 	visibility: hidden;
	// 	.box-shadow(0 1px 2px black);	
			
	// }
	
	button.thoughtbot {
		float: left;
		clear: left;
	}
	
	header{
		overflow: hidden;
		background-image: url(../images/backtax.jpg);
	}
	
	footer{
		visibility: hidden;
		height: 1px;
		overflow: hidden;
		
	}
	
	h1{
		font-size: 1.3em !important;
		font-weight: bold;
		
	}
	
	.ad{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	margin-left: -30px;
	overflow: hidden;
	height: 240px;	
	
		li{
		font-size: 1.2em;
		list-style-type: square !important;
		}
		
		img{
		width: 250px;
		}
	}
	

				
	.maps{
		margin: 0 !important; 
		visibility: hidden;
		height: 0px;
		overflow: hidden;
	}
	
	#map_canvas{
		height: 0px;
		margin: 0 !important; 
		visibility: hidden;
		overflow: hidden;	
	}
	.detail{
		margin-top: 0 !important;
		padding-left: 40px !important;
	}
	
	#order{
		margin-left: 0px !important;	
		display: none;
	}
	
	#help{
		margin-top: -10px !important;
		
	}
	
	#address2{
		margin-left: 0px !important;
		margin-bottom: 0px;
		margin-top: 10px;
		
	}	
	
	#timedate{
				margin-top: 10px;

	}
	
	#address1{
		margin-left: 0px !important;
		margin-bottom: 0px;
		
	}	
}

.nav{
	position: absolute; 
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:rgba(255,255,255,0.8);
	padding: 5px;
	padding-left: 30px !important;

	.question_btn{
		margin-left:20px;
		opacity: 0.6;
		cursor: pointer;

		&:hover{
			opacity: 1;
		}
	}
	
}

.ad{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	padding-left: 30px !important;
	overflow: hidden;
	
}

#mobiles{
	margin-left: 30px;
	
}

.social{
	position: relative;
	float: right;
	margin: 0px 0px;

	img{
	width:70px;
	}

	&:hover{
		.set{
		cursor: pointer;
	 }
	}
}

.user_set{
	position: relative;
	float: right;
	margin: 0px 0px;

	img{
		width:60px;
	}

	&:hover{
		img{
		cursor: pointer;
	 }
	}
}

 


.social img{
	margin-right: 5px;
	
}

.detail{
	margin-top: 32%;
	padding: 20px;

	#address2{
		margin-left: 30px;
		
	}
}



.maps{
	margin-top: 50%;
	margin-right: 20px;
	height: 200px;
	.rounded(3px);
	background-image: url(../images/maps.png);
}

.errors{
	position: absolute;
	top: 406px;
	width: 300px;
	max-height: 100px;
	color: white;
	background-color:  rgba(220,35,35,0.8);
	text-align: center;	
	.rounded(3px);

	p{
		margin-bottom: 2px !important;
	}
}

#line{
	bottom: 250px !important;
	left: 50px;
	max-height: 300px;
}



#order{
	margin-left: 230px;
	
}




/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.ui-widget-header {
border: 1px solid #aaaaaa;
background: #c63929 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x !important;
color: white !important;
font-weight: bold;
}

#facebooklogin{
	float:left;
	margin-right: 5px;
	margin-top: 1px;
}

.pac-item{
	font-size: 1.2em; 
	
}


	 .bullet{
    list-style: none;
    padding:0;
    margin:0;
    li { 
    padding-left: 0.1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #871719; /* or whatever color you prefer */
}

}

.info{
	width: 437px;
	height: 98px;
	position: absolute;
	top: 640px;
	background-color:  rgba(255,255,255,0.64);
	left: 24%;
	margin-left: -100px;
	.rounded(3px);
	opacity: 0.0;

	img{
		position: absolute;
		top: -15px;
		left: 52px;
	width: 126px;
	}
		
	ol{
		margin-left: 175px;
		font-size: 12px;
		margin-top: 7px;

		li{
			font-size: 18px;
			color: #222222;
		}
	}
}

.bread{
	display: none;
	position: absolute;
	left: 55%;
	width: 700px;
	margin-left: -350px;
	top:0px;

	li{
		float: left;
		list-style-type: none;
		height: 60px;
		padding-top: 15px;
		color: black;
		opacity: 0.4;
		margin-left: 30px;

		img{
			width: 21px;
			margin-right: 11px;
			margin-top: 5px;
			vertical-align: -11%;
		}
	}


	
	li:nth-child(2){
		border-left: 1px dashed #bbbbbb; 
		border-right: 1px dashed #bbbbbb;
		padding-left: 30px;
		padding-right: 30px; 
	}

	
.active{
			opacity: 1.0;
		}
}





.topbar{
	height: 60px;
	width: 100%;
	background-color:rgba(255,255,255,0.8);
	position: absolute;
top: -60px;

}

@media only screen
and (max-width: 600px){
.bread {
		position: absolute;
		left: 0;
		width: 100%;
		margin-left: 0;
		top: 0px;
}

.detail {
margin-top: 143px !important;

}

#loading, #loading2 {
margin-top: 150px;

}

.topbar {
	height: 120px !important;
	top: -120px;
}

.bread li{
	width:100%;
	height:40px;
	padding: 4px 0 10px 0;

}

.bread li:nth-child(2) {
border-left: none;
border-right: none;
padding-left: 0px;
padding-right: 0px;
border-top: 1px dashed gray;
border-bottom: 1px dashed gray;


}


}



#userswitch{
	display: inline;
	text-decoration: underline;
	color: red;
	cursor: pointer;

}

.loginerror{
	position: absolute;
	top: 66px;
	width: 323px;
	height: 76px;
	color: white;
	background-color:  rgba(220,35,35,0.8);
	text-align: center;	
	.rounded(3px);

	p{
		margin-bottom: 2px !important;
		line-height: 74px;
	}
}



.toaccept{
	position: relative;
	height: auto;

}

.rit_user{
	height: 160px;
	background-color: rgba(255,255,255,0.8); 
	border: 3px solid rgba(255,255,255,0.6);
	.rounded(3px);

	.vertrek{
		position: absolute;
		top: 5px;
		left: 35px;
		
		&:after{
		margin-left: 5px;
		content: '>'; 
		}
	}
	
	.bestemming{
		position: absolute;
		top: 5px;
		left: 140px;	
	}
	.maps{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-image: url(../images/maps.png);
		height: 60px;
	}
	.uur{
		position: absolute;
		top: 27px;
		left: 35px;
		color: #ee432e; 
		font-size: 25px;	
	}
	.naamklant{
		position: absolute;
		top: 70px;
		left: 35px;
	}
	.telklant{
		position: absolute;
		left: 130px;
		top: 70px;
	}
	
	.check{
		position: absolute;
top: 100px;
left: 55px;
width: 115px;
height: 50px;
	}

	.cancel{
		position: absolute;
		top: 95px;
		left: 35px;
		width: 60px;		
	}
}

.user_ritten{
	margin-top: 30px;
	height: 600px;
	overflow: auto;
}



[class*="column"]+[class*="column"]:last-child {
float: left;
}

.user_panel{
	height: 50px;
	width: 100%;
	background-color:rgba(255,255,255,0.8);
	h1{
		margin-top: 10px;
	}

	ul{ 
	width: 300px;
	margin-left: auto;
	margin-right: auto;
		
		.active{
				background-color: gray;
				color:white;
			}
		li{
		float: left;
		list-style-type: none;
		padding:10px 30px;

		margin:0;
		height: 50px;

			

			&:hover{
				background-color: gray;
				cursor: pointer;
			}

		}

	}	
}

.profupdate{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	.rounded(3px);
	background-color: rgba(255,255,255,0.8);

}

#update{
	
	button{
		margin-left: 31px;
	}

	input{
		float:right; 
		clear:right;
	}

	label{
		float: right;
		width: 249px;
	}
}

@media only screen
and (max-width: 1024px){

	.question_btn{
		display: none;
	}

	.info{
		display:none;
	}

}



	 