@import "elements.less";

html, body{
	height: 100%;
		

}

/* Webkit */
::selection {
    background: #ee432e;
    color: #FFF;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #ee432e;
    color: #FFF;
}

h1{
	font-size: 30px;
	font-style: normal !important;
	font-family: "Gill Sans" !important;
	font-weight: 100;
	margin-left: 30px;
}

li{
	font-size: 20px;
	margin-left: 60px;
	font-family: "Gill Sans" !important;
	font-weight: 100;	
}

header{
	position: relative;
	background-image: url(../images/back2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 400px;
	overflow-x: hidden;
	height:90%;
	box-shadow: 0px 1px 10px 0px black;
	
	input{
		width: 200px !important;
		height: 53px !important;
		float: left;
		margin-right: 30px !important;
		border: 0;
		-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
		box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;				
	}
	
	#location{
		background: url(../images/arrow.png); 
		background-size: cover;
		float: left;
		width: 25px;
		height: 25px;
		margin: 15px 5px;
		&:hover{
			background: url(../images/arrow_hover.png);
			background-size: cover;
		}
	}
	#address1{
		margin-right: 0px !important;
		
	}

	.search{
		width: 98%;
		margin-top: 22%;
		margin-left: 7%;
		
	}
}

footer{
	background-color: #4a4a4a;
	width: 100%;
	height: 300px;
	
	h1{
		color: white;	
	}
	
	li{
		list-style-type: none;
		color: white;
	}
	
}

#titel{
	color: white;
		font-family: "Gill Sans";
		font-size: 60px;
		font-style: normal;
		text-shadow: 2px 2px 5px black;
		max-width: 800px;
		font-weight: 300;
}

#loading{
	background-color: rgba(255,255,255,0.86); 
	margin-top:50px; 
	width: 88%;
	height: auto;
	padding: 30px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto; 
	.rounded(5px);
	#loader{
		width: 39px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

#bedrijven{
	list-style-type: none;
	margin-left: -20px;
	li{
		float: left;
		border-right: 1px solid #cfcfcf;
		padding-right: 40px; 
		
		.minutes{
			color: red;
		}
		
		p{
			font-size: 1.1em;
			
		}
		
		.thoughtbot{
			width: 100px;
			margin-left: 5px;
			
		}
		
	}
	
}



button.thoughtbot {
  float: left;
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 200px; }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }
    
.nonactive{
	background-image: none !important; 
	background-color: rgba(235,235,235,0.81) !important; 
	border: 1px solid white !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	
	&:hover{
		background-image: none !important; 
		background-color: rgba(235,235,235,0.81) !important;
	}
	
}
    
.help{
	width: 20px !important;
	float: left !important;
}
    
@media only screen
and (max-width: 480px){
	
	#titel{
		position: absolute;
		visibility: hidden;
		
	}
	
	.search{
		position: absolute; 
		top: 0;
		margin-left: 100px !important;
		
	}
	
	.nav{
		visibility: hidden;
		.box-shadow(0 1px 2px black);		
	}
	
	button.thoughtbot {
		float: left;
		clear: left;
  }
	
}

.nav{
	position: absolute; 
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:rgba(255,255,255,0.8);
	padding: 5px;
	padding-left: 30px !important;
	
}

.ad{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	padding-left: 30px !important;
	overflow: hidden;
}

#mobiles{
	margin-left: 30px;
	
}

.social{
	position: relative;
	float: right;
	margin: 6px 30px;
}

.social img{
	margin-right: 5px;
	
}

.detail{
	margin-top: 32%;
	padding: 20px;

	#address2{
		margin-left: 30px;
		
	}
}



.maps{
	margin-top: 50%;
	margin-right: 20px;
	height: 200px;
	.rounded(5px);
	background-image: url(../images/maps.png);
}

.errors{
	position: absolute;
	bottom: 100px;
	width: 300px;
	max-height: 100px;
	color: white;
	background-color:  rgba(220,35,35,0.64);
	text-align: center;	
	.rounded(5px);
}

#line{
	bottom: -180px !important;
	max-height: 300px;
}

#help{
	margin-top: -50px;
}

#order{
	margin-left: 230px !important;
	
}




/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

#facebooklogin{
	float:left;
	margin-right: 5px;
	margin-top: 1px;
}

.pac-item{
	font-size: 1.2em; 
	
}